


.PlistContainer {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 1rem;
    border: 1px solid #ecb1e65a;
    background-color: #f4b1ec1f;
    h5 {
        font-weight: 800;
        color: black;
        padding: 10px 10px 2px;
    }
    .PListHeader {
        display: flex;
        justify-content: flex-start;
        padding: 10px 10px 2px;
        font-family: $font-poppins;
        font-weight:  $font-weight-extra-bold;
        font-size: $font-size-24;

    }
    .PListImage img {
        height: 150px;
        width: 150px;
        object-fit: contain;
        padding: 10px 20px 20px;
    }
    p {
        font-family: $font-poppins;
        font-size: 1.1rem;
        padding: 10px 10px 2px;
    }
    .PListContent {
        display: flex;
      /*   width: 100%; */
        border: 1px solid #00000023;
        font-size: 1rem;
        
    }
    .PDescription {
        display: block;
        width: 200px;
        font-size:1rem;
    }
    .P-Price {
        display: block;
        width: 100px;
        font-size: 1rem;
    }
    .P-Buttons {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        margin: 0 1rem 1rem 0;
        .btn {
            font-size: 1rem;
            font-family: $font-poppins;
            width: 150px;
        }
      
    }
    .P-Title {
        display: block;
        width: 150px;
        font-size: 1rem;
       
        border: none !important;
        background-color: transparent !important;
    }
    .P-Tag {
        display: block;
        width: 100px;
        
    }
    .P-Rating {
        display: block;
        width: 100px;
        margin-right: 10px;
        font-size: 1rem;
    }
   
  
}
.UpdateImage img  {
    height: 300px;
    width:300px;
    object-fit: contain;
    padding: 10px 20px 20px;
}
 //create product
.selectCategory {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: $color-gray-5;
    margin-bottom: 1rem;

}
// error message validate create product
.errorProduct {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: red;


}
.error {
    color: #FF7373;
    border: 1px solid #FF7373;
  }

 // StarRating
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: rgb(0, 0, 0);
  }
  .off {
    color: #ccc;
  }

  .P-rating {
    font-size: 1rem;
    font-weight: $font-weight-medium;
  }
  .P-Rating-Div {
    display: grid;
    width: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-auto-flow: rows;
    justify-items: start;

   

  }